bresenham
click
filterpy
future
ipdb
ipython
ipython-genutils
jedi
matplotlib
natsort
networkx
numpy
opencv-contrib-python
pandas
parso
pathos @ git+https://github.com/uqfoundation/pathos.git@a46fc8d276dc21eb376937ec4cade98e381bb527
scikit-image
scikit-learn
scipy
six
sklearn
torch==1.4.0
tqdm
xmltodict
git+https://github.com/vaab/colour@master
wandb
